<!-- Button to Open the Modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
  Add new Quote
</button>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">New Quote</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Enter your name" name="name">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Enter Quote author's name" name="author">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="comment">Enter Quote:</label>
              <textarea class="form-control" rows="5" id="comment" name="text" placeholder="Type here then click add quote button below"></textarea>
            </div>
          </div> <br>
          <div class="row">
            <div class="col">
              <input type="date" class="form-control" placeholder="Enter Quote author's name" name="author">
            </div>
            <div class="col">
              <button type="button" class="btn btn-success">Add Quote</button>
            </div>
          </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
