<div class="container">
  <div class="row">
    <div class="col-md-4">
      <!-- Button to Open the Modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
        Add new Quote
      </button>

      <!-- The Modal -->
      <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">New Quote</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">

              <form id="form" (submit)="addquote()">
                <div class="row">
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Enter your name" [(ngModel)]="user"
                      name="name">
                  </div>
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Enter Quote author's name"
                      [(ngModel)]="authorname" name="author">
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <label for="comment">Enter Quote:</label>
                    <textarea class="form-control" rows="5" id="comment" name="text"
                      placeholder="Type here then click add quote button below" [(ngModel)]="content"></textarea>
                  </div>
                </div> <br>
                <div class="row">
                  <div class="col">
                    <button type="submit" onsubmit="clearform()" class="btn btn-success" data-bs-dismiss="modal">Add Quote</button>
                  </div>
                </div>
              </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- second columm -->
    <div class="col-md-8">
      <div class="quote" *ngFor="let quote of quotes; let i = index">
        <div class="content">
          <div class="card">
            <div class="card-header">Quote</div>
            <div class="card-body">
              <b><i>{{quote.content}}</i></b>
              <div class="author">
                <h2><b>—{{quote.authorname}}</b></h2>
              </div>
            </div>
            <div class="footer">

              <p>&nbsp; This quote was posted by &nbsp; @{{quote.user}} </p>
            </div>
          </div>
          <div class="upvote">
            <button (click)=' addlike(i)'><i class="fas fa-heart"></i> {{this.quote.likes}}</button>&nbsp;
            <button (click)=' dislike(i)'><i class="fas fa-heart-broken"></i>{{this.quote.unlikes}}</button>

            &nbsp;&nbsp;Delete &nbsp; <button (click)=" delete(i)"><i class="fas fa-trash-alt"></i></button>

          </div>

        </div>

      </div>
    </div>
  </div>
</div>
